html {
    background-color: #AC7CCC;
}

.html {
    background: url("../zendino.png");
    background-repeat: repeat;
    background-color: blue;
}

.layout-3col__right-content {
    background-color: #AC7CCC;
}
